<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Limit Reached</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .message-container {
            font-size: 2em;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="message-container">
                    <p>Limit Reached</p>
                </div>
            </div>
            <div class="col-4 text-right">
                <a href="{{ url_for('convert') }}" class="btn btn-primary my-4">Return</a>
            </div>
        </div>
    </div>
</body>
</html>
